@font-face {
  font-family: FreightBigPro;
  src: url(./FreightBigProLight-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FreightBigPro;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main{
    background-color: #000;
}
.loader {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: absolute;
  color: #fff;
  z-index: 8;
  /* display: none; */
}
.text {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  text-align: center;
  font-size: 6vw;
  line-height: 4.5vw;
  font-weight: 500;
  letter-spacing: -3px;
  z-index: 10;
}
.loader video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 7;
}
.yellow {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f3e41a;
  z-index: 8;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #f3e41a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.page1 h1 {
  font-size: 6vw;
  line-height: 4.5vw;
  font-weight: 500;
  letter-spacing: -3px;
  position: absolute;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.nav{
    position: absolute;
    width: 100%;
    padding: 2.5vw 3vw;
    z-index:2;
    display: flex;
    justify-content: space-between;
  align-items: center;

}
.nav div{
  display: flex;
  align-items: center;
  gap: 3vw;
}
.nav div a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 1vw;
color: black;
font-weight: 400;
transition: all 0.1s ease-out;

}.nav div a:hover{
  color: #fff;
}
.nav_link i{
display: none;
}
svg path{
  transition: all 0.1s ease-out;
}
svg:hover path{
  fill:white;
  cursor: pointer;

}
@media (max-width:600px) {
  .page1 h1 {
    position: absolute;
    top: 44.07%;
    font-size: 8vw;
    line-height:6vw;
    letter-spacing: -2px;
  }
  .text h1 {
    position: absolute;
    top: 44.07%;
    font-size: 8vw;
    line-height:6vw;
    letter-spacing: -2px;

  }
  .nav{
    padding: 5vw 5vw;

  }
  .nav_link i{
    display: initial;
    font-size: 7vw;
    cursor: pointer;
    transition: all 0.1s ease-out;
    }
  
    .nav_link i:hover{
      color: #fff;
      user-select: none;
    }
    .nav_link a{
      display: none;
      }
}